<div class="left">
	<div class="left-recommend-title">
		<div class="word">
			<div class="title">本周热卖</div>
			<div class="hr"></div>
			<div class="desc">
				这些好棉品<br>正在热卖中
			</div>
		</div>
		<div class="bg-img-wrap">
			<img src="/static/image/left-recommend.jpg" alt="">
		</div>
	</div>
</div>
<div class="right">
	<!-- 热卖商品推荐 轮播 -->
	<div class="recommend-slide right-recommend-slide">
		<div class="zyslide-container">
			<div class="zyslide-wrap clearfix">
				<div class="zy-slide">
				<a href="javascript:;" target="_blank" title="加大版婴儿纯棉柔巾">
					<div class="pro-img">
						<img src="/static/image/hot-357/5C7D0F638E9D06BC87700E8C77582931.jpg_357x357.jpg" alt="">
					</div>
					<div class="good-name">
						<p class="content">加大版婴儿纯棉柔巾</p>
					</div>
					<div class="good-price">

						<span class="discount-price">¥118</span>
						<!-- <span class="original-price">¥118</span> -->

					</div>
				</a>
			</div>

			<div class="zy-slide">
			<a href="javascript:;" target="_blank" title="加大版婴儿纯棉柔巾">

				<div class="pro-img">
					<img src="/static/image/hot-357/5C7D0F638E9D06BC87700E8C77582931.jpg_357x357.jpg" alt="">
				</div>
				<div class="good-name">
					<p class="content">加大版婴儿纯棉柔巾</p>
				</div>
				<div class="good-price">

					<span class="discount-price">¥118</span>
					<!-- <span class="original-price">¥118</span> -->

				</div>
			</a>
		</div>

		<div class="zy-slide">
		<a href="javascript:;" target="_blank" title="加大版婴儿纯棉柔巾">

			<div class="pro-img">
				<img src="/static/image/hot-357/5C7D0F638E9D06BC87700E8C77582931.jpg_357x357.jpg" alt="">
			</div>
			<div class="good-name">
				<p class="content">加大版婴儿纯棉柔巾</p>
			</div>
			<div class="good-price">

				<span class="discount-price">¥118</span>
				<!-- <span class="original-price">¥118</span> -->

			</div>
		</a>
	</div>

	<div class="zy-slide">
	<a href="javascript:;" target="_blank" title="加大版婴儿纯棉柔巾">

		<div class="pro-img">
			<img src="/static/image/hot-357/5C7D0F638E9D06BC87700E8C77582931.jpg_357x357.jpg" alt="">
		</div>
		<div class="good-name">
			<p class="content">加大版婴儿纯棉柔巾</p>
		</div>
		<div class="good-price">

			<span class="discount-price">¥118</span>
			<!-- <span class="original-price">¥118</span> -->

		</div>
	</a>
</div>

<div class="zy-slide">
<a href="javascript:;" target="_blank" title="加大版婴儿纯棉柔巾">

	<div class="pro-img">
		<img src="/static/image/hot-357/5C7D0F638E9D06BC87700E8C77582931.jpg_357x357.jpg" alt="">
	</div>
	<div class="good-name">
		<p class="content">加大版婴儿纯棉柔巾</p>
	</div>
	<div class="good-price">

		<span class="discount-price">¥118</span>
		<!-- <span class="original-price">¥118</span> -->

	</div>
</a>
</div>
</div>
</div>

<div class="slide-button-wrap top-right-button clearfix">
	<div class="slide-button left prev">&lt;</div>
	<div class="slide-button right next">&gt;</div>
</div>
</div>
<!-- recommend-slide end -->
</div>
</div>
<!-- hot-recommend-wrap end -->
</div>
<!-- content-body end -->