<!-- 公共底部 -->
	<!-- 提示 -->
<div class="foot-tip">
	<div class="container clearfix">
		<div class="item">
			<i class="iconfont tip-icon">&#xe691;</i>
			<span class="tip-word">7天退换货保障</span>
		</div>
		<div class="item">
			<i class="iconfont tip-icon">&#xe601;</i>
			<span class="tip-word">满218元免费配送</span>
		</div>
		<div class="item">
			<i class="iconfont tip-icon">&#xe62d;</i>
			<span class="tip-word">全棉商品品质保证</span>
		</div>
	</div>
</div><!-- foot-tip end -->

<div class="container">
	<div class="comm-footer clearfix">
		<div class="left clearfix">
			<dl>
				<dt>新手指南</dt>
				<dd><a href="/html/register.html" title="" target="_blank">注册用户</a></dd>
				<dd><a href="javascript:;" title="" target="_blank">网站订购流程</a></dd>
				<dd><a href="javascript:;" title="" target="_blank">会员特享政策</a></dd>
			</dl>
			<dl>
				<dt>如何退款</dt>
				<dd><a href="javascript:;" title="" target="_blank">如何付款/退款</a></dd>
				<dd><a href="javascript:;" title="" target="_blank">常见支付问题</a></dd>
			</dl>
			<dl>
				<dt>配送方式</dt>
				<dd><a href="javascript:;javascript:;" title="" target="_blank">款到快递范围及配送时间</a></dd>
				<dd><a href="javascript:;" title="" target="_blank">货到付款范围及配送时间</a></dd>
				<dd><a href="javascript:;" title="" target="_blank">配送收费标准及验货签收</a></dd>
			</dl>
			<dl>
				<dt>售后服务</dt>
				<dd><a href="javascript:;" title="" target="_blank">退换货政策</a></dd>
				<dd><a href="javascript:;" title="" target="_blank">如何办理退换货</a></dd>
				<dd><a href="javascript:;" title="" target="_blank">隐私声明</a></dd>
			</dl>
			<dl>
				<dt>关于全棉</dt>
				<dd><a href="javascript:;" title="" target="_blank">Purcotton 介绍</a></dd>
				<dd><a href="javascript:;" title="" target="_blank">全棉店铺</a></dd>
			</dl>
		</div>
		<p class="hr"></p>
		<div class="right">
			<ul class="clearfix">
				<li>
					<img src="/static/image/ewm.jpg" alt="" class="ewm">
					<p class="tips">
						下载全棉<span>App</span>有惊喜
					</p>
				</li>
				<li>
					<img src="/static/image/ewm2.jpg" alt="" class="ewm">
					<p class="tips">
						关注全棉<span>微信公众号</span>
					</p>
				</li>
			</ul>
		</div>
	</div><!-- comm-footer end -->
	<div class="comm-footer-bottom clearfix">
		<div class="left">
			<ul class="more-link clearfix">
				<li><a href="javascript:;" title="关于我们" target="_blank">关于我们</a></li>
				<li><a href="javascript:;" title="联系我们" target="_blank">联系我们</a></li>
				<li><a href="javascript:;" title="诚聘英才" target="_blank" rel="nofollow">诚聘英才</a></li>
				<li><a href="javascript:;" title="合作专区" target="_blank">合作专区</a></li>
			</ul>
			<p class="copyright">
				粤ICP备13084779号-2 Copyright &copy;2002-2017 深圳全棉时代科技有限公司 版权所有
			</p>
		</div>
		<div class="right customer-services">
			<p class="title">客服中心</p>
			<p class="phone">400-608-1000</p>
			<p class="time">服务时间：<sapn>8:30 ~ 20:30</sapn></p>
		</div>
	</div>
</div>

