		<div class="comm-top-wrap bg-green">
			<div class="container">
				<div class="comm-top clearfix">
					<div class="left">
						<p class="slogan">医学贴近生活，全棉呵护健康</p>
					</div>
					<div class="link right">
						<span id="top_member_new">
							<a href="/html/login.html" title="" id="showname">登录</a>
							<a href="/html/register.html" title="" id="head-register" class="">注册</a>
							<a href="/html/register.html" title="" id="exit" class="hide">退出</a>
						</span>
						<span>|</span>
						<a href="javascript:;" onclick="kf_openChatWindow(0,'b','4006081000')" title="联系在线客服">客户服务</a>
					</div>
				</div><!-- comm-top end -->
			</div>
		</div><!-- comm-top-wrap end -->
		<div class="top-bar">
			<div class="logo-search-wrap">
				<div class="container">
					<div class="logo-search clearfix">
						<div class="logo">
							<a href="/index.html" title="">
								<img id="" src="/static/image/logo-2.png" height="36" width="448" alt="purcotton logo">
							</a>
						</div>
						<div class="search-bar clearfix">
							<div class="left search">
								<input type="text" class="search-text txt" placeholder="搜索棉柔巾试试"  id="heade-search">
								<input type="button" class="iconfont btn-search" title="点击搜索" value="&#xe614;">
							</div>
							<ul id="list" ></ul>
							<div class="right top-cart">
								<input type="button" class="iconfont shopping-cart" title="购物车" value="&#xe603;">
								<i id="catNum" class="cat-num">0</i>
							</div>
						</div>
					</div><!-- logo-search end -->
				</div>
			</div><!-- logo-search-wrap end -->
			<div class="nav-bar-wrap">
				<div class="container clearfix" style="position:relative;">
					<div class="logo2">
						<a href="/index.html">
							<img id="" src="/static/image/logo2-3.png" height="20" width="160" alt="" class="left-logo">
						</a>
					</div>
					<nav class="nav-bar">
						<ul class="first-menu-wrap">
							
								
								<li class="cur" id="">
								
									<a href="/index.html" target="">首页</a>
									
								</li>
								
							
								
								<li id="">
								
									<a href="/html/news.html" target="_blank">新品</a>
									
								</li>
								
							
								
								<li id="">
								
									<a href="/html/baby.html" target="">婴童</a>
									
									<div class="second-menu-wrap container">
										<div class="second-menu">
										
											<a href="javascript:;">婴童床品</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">婴童服饰</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">婴童服装(0-1岁)</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">婴童服装(1-4岁)</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">婴童服装(4岁以上)</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">婴童护理</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">婴童卫浴</a>
											
										
										</div>
									</div>
									
								</li>
								
							
								
								<li id="">
								
									<a href="/html/woman.html" target="">女士</a>
									
									<div class="second-menu-wrap container">
										<div class="second-menu">
										
											<a href="javascript:;">女士服装服饰</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">美容用品</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">女士卫生用品</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">孕产用品</a>
											
										
										</div>
									</div>
									
								</li>
								
							
								
								<li id="">
								
									<a href="/html/home.html" target="">家居</a>
									
									<div class="second-menu-wrap container">
										<div class="second-menu">
										
											<a href="javascript:;">厨房用品</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">床上用品</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">护理用品</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">旅游户外</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">收纳用品</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">卫浴用品</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">其它</a>
											
										
										</div>
									</div>
									
								</li>
								
							
								
								<li id="">
								
									<a href="/html/man.html" target="">男士</a>
									
									<div class="second-menu-wrap container">
										<div class="second-menu">
										
											<a href="javascript:;">男士服装服饰</a>
											
											<span>·</span>
											
										
											<a href="javascript:;">男士卫生用品</a>
											
										
										</div>
									</div>
									
								</li>
								
								<p class="line"></p>
								
							
								
								<li id="">
								
									<a href="/html/story.html" target="">全棉故事</a>
									
								</li>
								
							
								
								<li id="">
								
									<a href="javascript:;" target="">全棉店铺</a>
									
								</li>
								
							
								
								<li id="">
								
									<a href="/html/community.html" target="">全棉社区</a>
									
								</li>
								
							
						</ul>
					</nav><!-- nav-bar end -->
				</div>
			</div><!-- nav-bar-wrap end -->
		</div>