@charset "utf-8";
@import "./component/com-footer.scss";
@import "./component/com-header.scss";
@import "./component/com-style.scss";
@import "./font.scss";
@import "./com.scss";
@import "./index.scss";
@import "./login.scss";

.goods-recommend {
  /*@all_num: 4;*/
  /*@all_width: @all_num * @w + @mr * (@all_num - 1);*/
  position: relative;
  width: 1150px;
  height: 300px;
  background: #dceef4;
}
.goods-recommend .zyslide-container {
  width: 1150px;
  height: 300px;
}
.goods-recommend .zyslide-container .zyslide-wrap {
  /*width: @all_width;*/
  width: 9000px;
}
.goods-recommend .zyslide-container .zy-slide {
  width: 1150px;
  height: 300px;
  margin-right: 0px;
}
.goods-recommend .zyslide-container .zy-slide img {
  width: 1150px;
  height: 300px;
}
.goods-recommend .slide-button-wrap {
  top: 16px;
}
.goods-area-wrap > .select {
  padding: 0 24px;
  background: #ffffff;
}
.goods-area-wrap .sorts {
  margin-bottom: 4px;
  padding: 26px 0 18px;
  font-size: 14px;
  border-bottom: 1px solid #cccccc;
}
.goods-area-wrap .sorts .title {
  color: #333333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.goods-area-wrap .sorts .title:hover {
  -webkit-transform: translate(-4px, 0);
  -moz-transform: translate(-4px, 0);
  -ms-transform: translate(-4px, 0);
  -o-transform: translate(-4px, 0);
  transform: translate(-4px, 0);
}
.goods-area-wrap .sorts .title .go-back {
  margin-right: 20px;
  color: #333333;
}
.goods-area-wrap .sorts .sort-order a,
.goods-area-wrap .sorts .sort-order span {
  color: #999999;
}
.goods-area-wrap .sorts .sort-order span {
  margin: 0 16px;
}
.goods-area-wrap .sorts .sort-order a.cur-sort {
  color: #333333;
}
.goods-area-wrap .classify-all {
  padding: 10px 0 16px;
  font-size: 14px;
  line-height: 30px;
}
.goods-area-wrap .classify-all strong {
  margin-right: 22px;
  color: #333333;
}
.goods-area-wrap .classify-all a {
  color: #666666;
}
.goods-area-wrap .classify-all a:hover {
  text-decoration: underline;
}
.goods-area-wrap .classify-all span {
  margin: 0 18px;
}
.goods-area-wrap .classify-comm {
  padding: 18px 0 22px;
  line-height: 1.7;
}
.goods-area-wrap .classify-comm .title {
  padding: 0 8px 0 0;
}
.goods-area-wrap .classify-comm span,
.goods-area-wrap .classify-comm a {
  padding: 3px 8px;
  line-height: 1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.goods-area-wrap .classify-comm span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
}
.goods-area-wrap .classify-comm a:hover {
  background: #eeeeee;
}
.goods-area-wrap .classify-comm a.cur {
  background: #eeeeee;
}
.w980,
.w960 {
  width: 930px;
}
.category-second {
  padding-top: 10px;
}
.category-second > .title {
  padding: 42px 0 20px;
  text-align: center;
  line-height: 1;
}
.category-second > .title > span {
  margin-right: 12px;
  font-size: 32px;
  color: #333333;
}
.category-second > .title > a {
  font-size: 14px;
  color: #666666;
}
.category-second > .title > a:hover {
  text-decoration: underline;
}
.category-third-select {
  padding-bottom: 28px;
  text-align: center;
  font-size: 14px;
  color: #666666;
}
.category-third-select > a {
  color: #666666;
}
.category-third-select > a:hover {
  text-decoration: underline;
}
.category-third-select > span {
  margin: 0 18px;
}
/* 商品列表页 底部的商品推荐轮播 */
.hot-recommend-wrap {
  margin-top: 30px;
}
.right-recommend-slide {
  /*@all_num: 4;*/
  /*@all_width: @all_num * @w + @mr * (@all_num - 1);*/
  position: relative;
  width: 883px;
  height: 278px;
}
.right-recommend-slide .zyslide-container {
  width: 883px;
  height: 278px;
}
.right-recommend-slide .zyslide-container .zyslide-wrap {
  /*width: @all_width;*/
}
.right-recommend-slide .zyslide-container .zy-slide {
  width: 220px;
  height: 278px;
  margin-right: 0px;
}
.right-recommend-slide .slide-button-wrap {
  top: 16px;
}
.right-recommend-slide .good-name .content {
  width: 200px;
  margin: 0 auto 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -o-text-overflow: ellipsis;
}
.goods-area-wrap .sorts .sort-order .downarrow {margin:0;}
.goods-area-wrap .sorts .sort-order .uparrow {margin:0;}
.goods-area-wrap .sorts .sort-order .uparrow1 {margin:0;}
