@charset "utf-8";
.content-body {
  background: #ffffff;
  padding-top: 0;
}
.pop-wrap {
  position: relative;
  height: 600px;
  margin-bottom: -60px;
  background: url(https://res.purcotton.com/mres/res/mall/css/img/login-bg.jpg) center top no-repeat;
  /* background: url(https://res.purcotton.com/activity/2018/09/30/home/login-pc.jpg) center top no-repeat; */
}
.pop-item {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  /*padding: 30px 0 10px;*/
  background: #f8f8f8;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-size: 14px;
  color: #999999;
}
.pop-item a {
  color: #999999;
}
.pop-item .title {
  margin-bottom: 22px;
  padding-top: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #00937f;
  text-align: center;
}
.pop-item .form-wrap > .item {
  width: 300px;
  margin: 0 auto 24px;
  line-height: 38px;
}
.pop-item .form-wrap .word {
  line-height: 1;
}
.pop-item .input-wrap {
  height: 38px;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
}
.pop-item .input-wrap .iconfont {
  display: block;
  float: left;
  color: #999999;
  margin: 0 8px 0 18px;
}
.pop-item .input-box {
  display: block;
  width: 240px;
  height: 38px;
  line-height: 38px;
  float: left;
}
.pop-item .input-box:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 80px #FFF inset;
}
.pop-item .width58 {
  width: 58%;
}
.pop-item .width58 .input-box {
  width: 126px;
}
.pop-item .hr {
  width: 400px;
  height: 0;
  margin: 0 auto 24px;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
}
.pop-item .btn-reg i {
  margin: 0 6px;
  font-family: '宋体';
  font-weight: bold;
  font-style: normal;
}
.pop-item .btn-back {
  margin-bottom: 10px;
}
.pop-item .code-img {
  height: 38px;
  overflow: hidden;
}
.pop-item .code-img img {
  display: block;
  width: 70px;
  height: 23px;
  margin: 8px 10px 0 0;
}
.pop-item .reload-code {
  font-size: 12px;
  color: #00937f;
}
.pop-item .get-code {
  display: block;
  width: 116px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  font-size: 14px;
  border: 1px solid #00937f;
  color: #00937f;
  text-align: center;
}
.register-wrap {
  /*@h: 556px;*/
  height: 576px;
  margin-top: -288px;
}
.login-wrap {
  /*@h: 446px;*/
  height: 530px;
  margin-top: -247px;
}
.login-wrap .form-wrap .word a:hover {
  color: #00937f;
}
.login-wrap .show-code {
  position: absolute;
  right: 10px;
  top: 10px;
}
.login-wrap .code-tips {
  position: absolute;
  top: -36px;
  right: 0px;
  width: 190px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #999999;
}
.login-wrap .code-tips .triangle {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 6px;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
}
.login-wrap .code-tips .content {
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 3px #cccccc;
  -moz-box-shadow: 3px 3px 3px #cccccc;
  -ms-box-shadow: 3px 3px 3px #cccccc;
  -o-box-shadow: 3px 3px 3px #cccccc;
  box-shadow: 3px 3px 3px #cccccc;
}
.login-wrap .code-wrap {
  width: 80%;
  margin: 172px auto;
  text-align: center;
}
.login-wrap .code-wrap .tips {
  font-size: 14px;
  color: #000000;
}
.login-wrap .code-wrap .tips span {
  margin: 0 2px;
}
.login-wrap .code-wrap .tips-img {
  width: 120px;
  height: 120px;
}
.login-wrap .code-back a {
  width: 70px;
  height: 26px;
  padding: 0;
  line-height: 26px;
  color: #00937f;
  font-size: 14px;
  border: 1px solid #00937f;
}
.login-wrap .code-back a span {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.login-wrap .code-back a:hover span {
  margin-right: 3px;
}
.login-wrap .other-login .iconfont {
  font-size: 20px;
  margin-left: 12px;
}